header, section {
    margin-right: 6%;
    margin-left: 6%;
}

span {
    color: #421fff;
}

nav {
    background-color: #ffffff;
}

.nav-title {
    margin-left: 4%;
}

.navbar-item {
    text-transform: uppercase;
}

.col-md-4 {
    padding-bottom: 10%;
    word-wrap: break-word
}

.title-text {
    padding-right: 10%;
}

.image{
    margin-right: 10%;
}

.wave {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
}